* {
  margin: 0;
  padding: 0;
}

/* .row{
    max-width: 100%;
} */

body {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
.section {
  height: max-content;
  /* max-width: 100vw; */
}

#section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table {
  height: 10rem;
  /* max-width: 150px; */
  width: 11rem;
  margin: 0.5rem;
  /* padding: .25rem; */
  border-radius: 7px;
  text-align: center;

  box-shadow: 4px 4px 10px 0px rgba(64, 58, 58, 1);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(64, 58, 58, 1);
  -moz-box-shadow: 4px 4px 10px 0px rgba(64, 58, 58, 1);
}
.table .table-row {
  /* max-width: min-content; */
  height: 19%;
  margin-top: auto;
  border-bottom: 1.5px rgba(19, 18, 18, 0.5) solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* font-weight: 500; */
  /* color: white; */
}
.table .table-row span {
  /* max-width: min-content; */
  /* padding: auto; */
  /* height: 2rem; */
  /* width: 5rem; */
  margin: 0.01rem;
  text-align: center;
  align-content: center;
  /* color: white; */
}
.table-heading {
  border: 1px black solid;
  background-color: #131212;
  color: white;
  font-weight: 600;
}

#section-2 {
  display: flex;
}
#main-board {
  border: 1px black solid;
  border-radius: 7px;

  /* position: absolute; */
  width: 90vw;
  height: 550px;
  /* height: auto; */
}

#memory {
  width: 9vw;
  border: 1px solid black;
  border-radius: 7px;
}
.memSeg {
  max-width: 100%;
  height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* padding-top: 0.5rem; */
  padding-left: 0.2rem;
  padding-right: 3.5rem;
  /* padding: 5rem auto; */

  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid rgba(19, 18, 18, 0.5);
  /* padding: auto 4rem auto 4rem; */
  /* align-items: center;    */
}
.mem-id{
    font-size: 0.75rem;
    font-weight: 800;
    color: rgb(117, 117, 117);

}
.mem-content{

}
