* {
  margin: 0;
  padding: 0;
}

/* .row{
    max-width: 100%;
} */
.section {
  height: max-content;
  max-width: 100vw;
}

#section-1{
    display: flex;
    flex-direction: row;
}


.table {
  height: 6rem;
  /* max-width: 150px; */
  width: 9rem;
  margin: 0.5rem;
  /* padding: .25rem; */
  border: 2px black solid;
  border-radius: 3px;
  text-align: center;
}
.table .table-row {
  /* max-width: min-content; */
  height: 33%;
  margin-top: auto;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* color: white; */
}
.table .table-row span {
  /* max-width: min-content; */
  /* padding: auto; */
  /* height: 2rem; */
  /* width: 5rem; */
  margin: 0.01rem;
  text-align: center;
  align-content: center;
  /* color: white; */
}


#section-2{
    display: flex;
}
#main-board {
  border: 1px black solid;
  /* position: absolute; */
  width: 1200px;
  height: 550px;
  /* height: auto; */
}

#alu {
  position: absolute;
  bottom: 00px;
  right: 180px;
  border: 1px solid blue;
  height: 345px;
  width: 500px;
}